---
title: parker's links
layout: layouts/base.njk
---

<h1>~ ~ ~ Links ~ ~ ~</h1>
<p>💾 Recent posts from
    <a href="https://parkerdavis.dev">parkerdavis.dev</a>:</p>
{% for item in parkerdavis.items | head(5) %}
    <ul>
        <li>
            <p>
                <a href="{{ item.url }}">{{ item.title | safe }}</a>
            </p>
        </li>
        {# <p>({{item.date_published | readableDate('LLL dd yyyy')}})</p></li> #}
    </ul>
{% endfor %}
<p>🪿 Recent posts from
    <a href="https://birdsmakesound.com">birdsmakesound.com</a>:</p>
{% for item in birdsmakesound.items | head(3) %}
    <ul>
        <li>
            <a href="{{ item.url }}">{{ item.title | safe }}</a>
            {# ({{item.date_published | readableDate('LLL dd yyyy')}}) #}
        </li>
    </ul>
{% endfor %}
<p>🎶
    <a href="https://ohparkpiano.bandcamp.com">Music</a>
</p>
{# <button class="dolphin">
    {% include "assets/dolphin/dolphinIcon.svg" %}
</button>
<script>{% include "assets/dolphin/dolphin.js" %}</script> #}