---
title: parker's hyperlinks
layout: layouts/base.njk
---

<h1>parker's hyperlinks</h1>
{# {% include "assets/christmas-album/album.html" %} #}
<ul class="top-links">
    <li>
        <a href="https://parkerdavis.dev">
            {% include 'assets/icons/smile-sun.svg' %}
            <span>Personal Site</span>
        </a>
    </li>
    <li>
        <a href="https://bsky.app/profile/parkerdavis.dev">
            {% include 'assets/icons/bluesky.svg' %}
            <span>Bluesky</span>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/parkd/">
            {% include 'assets/icons/instagram.svg' %}
            <span>Instagram</span>
        </a>
    </li>
    <li>
        <a href="https://ohparkpiano.bandcamp.com/">
            {% include 'assets/icons/bandcamp.svg' %}
            <span>Bandcamp</span>
        </a>
    </li>

</ul>
<p>Recent posts from
    <a href="https://parkerdavis.dev">parkerdavis.dev</a>:</p>
    <ul>
        {% for item in parkerdavis.items | head(5) %}
            <li>
                <a href="{{ item.url }}">{{ item.title | safe }}</a>
            </li>
        {% endfor %}
    </ul>


<!--<p>🪿 Recent posts from
    <a href="https://birdsmakesound.com">birdsmakesound.com</a>:</p>
{% for item in birdsmakesound.items | head(3) %}
    <ul>
        <li>
            <a href="{{ item.url }}">{{ item.title | safe }}</a>
            {# ({{item.date_published | readableDate('LLL dd yyyy')}}) #}
        </li>
    </ul>
{% endfor %}-->


<!--<p>🎶
    <a href="https://ohparkpiano.bandcamp.com">Music</a>
</p>-->


{# {% include "assets/halloween/spider.html" %} #}
{# {% include "assets/turkey/turkey.html" %} #}
{# {% include "assets/snow/snow2.html" %} #}
{# {% include "assets/bokeh/bokeh.html" %} #}
