---
title: parker's links
layout: layouts/base.njk
---
{# <h1>~ ~ ~ Links ~ ~ ~</h1> #}
<h1>🎄 🎄 🎄 Links 🎄 🎄 🎄</h1>
<p>💾 Recent posts from <a href="https://parkerdavis.dev">parkerdavis.dev</a>:</p>
{% for item in parkerdavis.items | head(5) %}
    <ul>
        <li><p><a href="{{ item.url }}">{{ item.title }}</a></p>
        {# <p>({{item.date_published | readableDate('LLL dd yyyy')}})</p></li> #}
    </ul>
{% endfor %}
<p>🪿 Recent posts from <a href="https://birdsmakesound.com">birdsmakesound.com</a>:</p>
{% for item in birdsmakesound.items | head(3) %}
    <ul>
        <li><a href="{{ item.url }}">{{ item.title }}</a>
         {# ({{item.date_published | readableDate('LLL dd yyyy')}}) #}
         </li>
    </ul>
{% endfor %}
{# <p>🎶 <a href="https://ohparkpiano.bandcamp.com">Music</a></p> #}
<p>🎄 <a href="https://ohparkpiano.bandcamp.com/album/christmas-2012">Christmas Album</a></p>