<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            rel="preload"
            href="/assets/fonts/CrimsonPro.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="assets/facedraw.png" type="image/x-icon">
        <link rel="shortcut icon" href="assets/facedraw-dark.png" type="image/x-icon" media="(prefers-color-scheme: dark)">
        <meta
        name="theme-color" content=""/>
        <!-- plausible analytics -->
        <script defer data-domain="links.parkerdavis.dev" src="https://plausible.parkerdavis.dev/js/script.js"></script>
        <style>
            {% include "assets/style.css" %}</style>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>
