<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        {# <link rel="stylesheet" href="assets/style.css"> #}
        <script src="assets/script.js" defer></script>
        <style>
            .background-div {
                display: flex;
            }
        </style>
    </head>
    <body>
        {{ content | safe }}
        <div class="background-div"></div>
    </body>
</html>